@media (max-width:991px){
.sidebar{
    background-color: rgba(9, 9, 9, 0.635);
    backdrop-filter: blur(10px);
}
}

.offcanvas {
    width: 280px; 
  }

  #portfolio{
    background-image:url(../../assets/logo.png);  background-blend-mode: multiply; 
    background-position: center; 
    background-size:cover;
    background-repeat: no-repeat;
    background-color: transparent;
    /* color:#b8a1a1; */
    /* border:10px; */
    padding:12px 25px 30px 12px;
    cursor:pointer;
    border-radius: 50px;
    width: 80px;
    /* height: "30"; */
  }