<nav class="navbar navbar-expand-lg bg-dark bg-gradient fixed-top">
    <!-- container fluid kren gy tw last ma chala jayag fluit hataen gy tw sides sy agy ajayga -->
    <div class="container"> 
        <!-- logo -->
        <a routerLink="/" class="navbar-brand fs-4 d-flex align-items-center"  id="portfolio"></a>
        <!-- toggle button -->
         <button class="navbar-toggler shadow-none border-o" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- sidebar -->
      <div class="sidebar offcanvas offcanvas-start " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
         <!-- sidebar header -->
        <div class="offcanvas-header text-white border-bottom">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Portfolio</h5>
          <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- sidebar body -->
        <div class="offcanvas-body  d-flex flex-column flex-lg-row p-4 p-lg-0">
          <ul class="navbar-nav justify-content-center align-items-center fs-7 flex-grow-1 pe-3 ">
            <li class="nav-item mx-2">
              <a routerLink="/" class="nav-link active" aria-current="page" style="color: rgb(201, 212, 222);">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a routerLink="/aboutUs" class="nav-link"  style="color: rgb(201, 212, 222);">About</a>
            </li>
            <li class="nav-item mx-2">
                <a routerLink="/services" class="nav-link"  style="color: rgb(201, 212, 222);">Services</a>
              </li>
              <li class="nav-item mx-2">
                <a routerLink="/contactUs" class="nav-link" style="color: rgb(201, 212, 222);">Contact</a>
              </li>
          </ul>
          <!-- login/signup -->
          <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
            <a href="#login" style="color: rgb(201, 212, 222);">Login</a>
            <a href="#signup" class="text-white text-decoration-none px-3 py-1 rounded-4" style="background-color: rgba(119, 176, 251, 0.304);">Signup</a>
          </div>
        </div>
      </div>
    </div>
  </nav>







 