<br />
<section id="main-banner" class="blog-banner">
  <h2>
    <span style="font-size: 50px">Read more About Us</span><br />read all case
    studies about our products!
  </h2>
  <!-- <h3>read all case studies about our products!</h3> -->
</section>

<div style="background-color: rgb(255, 255, 255)">
  <div
    class="d-flex flex-row"
    style="justify-content: center; align-content: center; margin: auto">
    <div style="max-width: 840px">
      <div class="row g-0">
        <div class="col-md-4" style="margin-top: 4%">
          <img
            src="../../assets/mens 5.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body ml-8">
            <h5
              class="card-title mt-4"
              style="display: flex; justify-content: center"
            >
              ZA Shop
            </h5>
            <p class="card-text">
              At our company, we specialize in offering a curated selection of
              men's fashion essentials, ranging from sophisticated watches to
              stylish shoes and clothing. With a keen eye for quality and
              trendsetting designs, we strive to provide our customers with
              premium products that elevate their style and confidence. Whether
              it's a classic timepiece to complete a formal look, comfortable
              and fashionable shoes for everyday wear, or trendy clothing pieces
              that make a statement, we cater to the modern man's diverse
              fashion needs. Our commitment to exceptional craftsmanship,
              combined with our dedication to customer satisfaction, sets us
              apart as a trusted destination for men seeking timeless elegance
              and contemporary flair in their wardrobe choices.
            </p>
            <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div style="display: flex ; flex-direction: row; justify-content: center;align-items: center; margin-top: 20px; margin-bottom: 20px;">
    <div class="flex flex-wrap -mx-2" style="justify-content: center;align-items: center;">
      <div class="px-2 mt-4" >
        <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
          <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="../../assets/mens3.jpg">
          <div class="text-center relative z-10 w-full">
            <h2 class="text-xl text-gray-900 font-medium title-font mb-2">look at our products</h2>
      
          </div>
        </div>
      </div>
      <div class="px-2 mt-4">
        <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
          <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="../../assets/shoes 3.jpg">
          <div class="text-center relative z-10 w-full">
            <h2 class="text-xl text-gray-900 font-medium title-font mb-2">Go on our Services =></h2>
 
          </div>
        </div>
      </div>
  </div>
  </div>

