<div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-8 flex-col items-center text-center">
      <h1 style="color: #ac5858c4; font-size:47px;">Men's Shirts</h1>
     
    </div>
 
    <div class="flex flex-wrap  col" style="justify-content:space-around;">
        <div class="card col-md-3 mx-1" style="background-image: url('../../assets/services/f2.jpg'); margin-top: 20px;">
            <!-- <h4>spring/summer</h4>
            <h2>upcoming season</h2>
            <span>The best classic dress is on sale at CARA</span>
            <button class="normal one">collect</button> -->
          </div>
          
          <div class="card col-md-3" style="background-image: url('../../assets/services/f3.jpg'); margin-top: 20px;"></div>
          <div class="card col-md-3" style="background-image: url('../../assets/services/f4.jpg'); margin-top: 20px;"></div>
          <div class="card col-md-3" style="background-image: url('../../assets/services/f5.jpg'); margin-top: 20px;"></div>
          <div class="card col-md-3" style="background-image: url('../../assets/services/f6.jpg'); margin-top: 20px;"></div>
          <div class="card col-md-3" style="background-image: url('../../assets/services/n2.jpg'); margin-top: 20px;"></div>
          <div class="card col-md-3" style="background-image: url('../../assets/services/n4.jpg '); margin-top: 20px;"></div>
      
     
      
    </div>
    <!-- <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button> -->
  </div>