<!-- <app-header></app-header> -->
<br>



<!-- main image -->
  <div class="vh=100 overflow-hidden">
    <section id="hero">
      <h1 style="color: rgb(234, 243, 243);">Discover</h1>
      <h2 style="color: rgb(168, 239, 239)">
        Endless possibilities at your fingertips
      </h2>
      <h3 style="color: rgb(234, 243, 243)">On all products</h3>
      <button>Shop Now</button>
    </section>
  </div>

<!-- cards -->
  <div class="container-fluid py-5" style="background-color: rgb(255, 255, 255);">
    <!-- <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000">
    <span class="text-3xl font-bold">zoom</span>
</div> -->
    <h1 class="text-center" style="color: #ac5858; font-size:47px;">New Arrivals</h1>
    <h5 class="text-center" style="color: #251212f5; font-size:25px;">Summer Collection New Modern Design</h5>

    <!-- cards rows -->

      <div class="row row-cols-1 row-cols-md-4 g-4 py-5 px-5" >
        <div class="col d-flex">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/watch.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Branded Watches</h5>
                  <p class="card-text"> Timekeepers of moments, guardians of memories.</p>
                </div>
                <div class="d-flex justify-content-around mb-3">
                    <h3>100 $</h3>
                  <button class="btn  btn-primary " (click)="showDialog()">See more</button>
                </div>
              </div>
        </div>
        <div class="col d-flex">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/shoes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Branded Watches</h5>
                  <p class="card-text"> Timekeepers of moments, guardians of memories.</p>
                </div>
                <div class="d-flex justify-content-around mb-3">
                    <h3>100 $</h3>
                  <button class="btn  btn-primary ">order now</button>
                </div>
              </div>
        </div>
        <div class="col d-flex">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/shoes 2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Branded Watches</h5>
                  <p class="card-text"> Timekeepers of moments, guardians of memories.</p>
                </div>
                <div class="d-flex justify-content-around mb-3">
                    <h3>100 $</h3>
                  <button class="btn  btn-primary ">order now</button>
                </div>
              </div>
        </div>
        <div class="col d-flex">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/perfume.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Branded Watches</h5>
                  <p class="card-text"> Timekeepers of moments, guardians of memories.</p>
                </div>
                <div class="d-flex justify-content-around mb-3">
                    <h3>100 $</h3>
                  <button class="btn  btn-primary ">order now</button>
                </div>
              </div>
        </div>
        <div class="col d-flex">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/mens 2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Branded Watches</h5>
                  <p class="card-text"> Timekeepers of moments, guardians of memories.</p>
                </div>
                <div class="d-flex justify-content-around mb-3">
                    <h3>100 $</h3>
                  <button class="btn  btn-primary ">order now</button>
                </div>
              </div>
        </div>
        <div class="col d-flex">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/shoes 3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Branded Watches</h5>
                  <p class="card-text"> Timekeepers of moments, guardians of memories.</p>
                </div>
                <div class="d-flex justify-content-around mb-3">
                    <h3>100 $</h3>
                  <button class="btn  btn-primary ">order now</button>
                </div>
              </div>
        </div>
        <div class="col d-flex">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/watch.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Branded Watches</h5>
                  <p class="card-text"> Timekeepers of moments, guardians of memories.</p>
                </div>
                <div class="d-flex justify-content-around mb-3">
                    <h3>100 $</h3>
                  <button class="btn  btn-primary ">order now</button>
                </div>
              </div>
        </div>
        <div class="col d-flex">
          <div class="card" style="width: 18rem;">
              <img src="../../assets/watch.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Branded Watches</h5>
                <p class="card-text"> Timekeepers of moments, guardians of memories.</p>
              </div>
              <div class="d-flex justify-content-around mb-3">
                  <h3>100 $</h3>
                <button class="btn  btn-primary ">order now</button>
              </div>
            </div>
      </div>
      </div>


  </div>

  <!-- discount image -->
  <div  id="discount">
    <!-- <div class="card flex flex-column align-items-center gap-2" id="discount">
      <div class="flex flex-wrap gap-2 ">
        <button type="button" class="btn btn-dark" (click)="showDialog('left')" i class="pi pi-arrow-right">
          Light</button>
      </div>
      <p-dialog header="Discount" [(visible)]="visible" [position]="position" [style]="{ width: '50vw' }">
        <p>
          Embrace the power of savings! With every discount, a door to opportunity swings wide open, inviting you to indulge in the joy of smart spending.
        </p>
      </p-dialog>
    </div> -->
    
  </div>

  <!-- banners -->

  <div class="container-fluid py-5">
    <section id="sm-banner" class="section-p1">
      <div class="card">
        <h4>crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at CARA</span>
        <button class="normal one">Learn More</button>
      </div>
      
      <div class="card another-card" style="margin-top: 10px;">
        <h4>spring/summer</h4>
        <h2>upcoming season</h2>
        <span>The best classic dress is on sale at CARA</span>
        <button class="normal one">collect</button>
      </div>
      <div class="card another-carddds">
        <h4>spring/summer</h4>
        <h2>upcoming season</h2>
        <span>The best classic dress is on sale at CARA</span>
        <button class="normal one">collect</button>
      </div>
    </section>
    
  </div>

  <!-- <div class="card flex justify-content-center"> -->
    <!-- <p-button  icon="pi pi-user" label="try"></p-button> -->
    <p-dialog [(visible)]="visible" >
        <ng-template pTemplate="headless">
            <div class="flex flex-column px-2 py-3 gap-4" style="border-radius: 12px; background-image: radial-gradient(circle at left top, var(--cyan-50), var(--teal-100))">
              <div style="width: 365px; height: 350px; overflow: auto">
                <div class="dialog-content">
                  <div class="row" *ngFor="let item of products">
                    <div class="column">
                      <img class="product-image" [src]="item.image" [alt]="item.name" />
                    </div>
                    <div class="column">
                      <div class="product-name">{{ item.name }}</div>
                      <div class="product-category">{{ item.category }}</div>
                    </div>
                    <div class="column">
                      <div class="product-price">{{ '$' + item.price }}</div>
                    </div>
                  </div>
                </div>

                <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" ></p-scrollTop>
            </div>
                <div class="flex align-items-center gap-2">
                    <p-button label="Cancel" (click)="closeDialog()" [text]="true"  styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full"></p-button>
                </div>
            </div>
        </ng-template>
    </p-dialog>


    <!-- <p-dialog [(visible)]="visible" >
      <ng-template pTemplate="content">
        
        <div class="dialog-content">
          <div class="row" *ngFor="let item of products">
            <div class="column">
              <img class="product-image" [src]="item.image" [alt]="item.name" />
            </div>
            <div class="column">
              <div class="product-name">{{ item.name }}</div>
              <div class="product-category">{{ item.category }}</div>
            </div>
            <div class="column">
              <div class="product-price">{{ '$' + item.price }}</div>
            </div>
          </div>
        </div>
        <div class="dialog-footer">
          <p-button label="Cancel" (click)="closeDialog()" styleClass="cancel-button"></p-button>
        </div>
      </ng-template>
    </p-dialog> -->
    

    <div class="overlay" [ngClass]="{ 'show': visible }"></div>
    <!-- </div> -->
    
  <!-- <app-footer></app-footer> -->
    
    
